<form enctype="multipart/form-data" id='pictureform' method="post">
    <div class="row">
        <div class="col col-50"><img src="img/default1.png" id="photo1" style="max-width:112px"> </div>
        <div class="col col-50"><img src="img/default2.png" id="photo2" style="max-width:112px;"></div>
    </div>
</form>