<ion-header-bar class="bar-positive header">
    <h1 class="title">Add New Driver</h1>
    <button class="button button-clear icon right ion-ios-home" style="position: absolute;right: 0px;padding-right:15px;" ui-sref="drivers"> </button>
</ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content>
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-ios-personadd-outline" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . Add a new regular driver </p>
            </div>
        </div>
        <div class="card has-footer" style="bottom:6vh;">
            <div scan-button></div>
            <ion-list class="list inset-list" id="inset-form" style="width:95vmax;margin:auto;">
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Full Name</span>
                        <input type="{{driver.fullname.type}}" ng-pattern="driver.fullname.validate_exp" ng-model="$parent.driver.fullname.value" ng-value="driver.fullname.value">
                        <p ng-value="driver.fullname.value">{{driver.fullname.value}}</p>
                    </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>License No.</span>
                        <input type="{{driver.license.type}}" ng-pattern="driver.license.validate_exp" ng-model="driver.license.value">
                        <p ng-value="driver.license.value">{{driver.license.value}}</p>
                    </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>License Issue Date</span>
                        <input type="{{driver.licensedate.type}}" ng-pattern="driver.licensedate.validate_exp" ng-model="driver.licensedate.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Date of Birth</span>
                        <input type="{{driver.dob.type}}" ng-pattern="driver.dob.validate_exp" ng-model="driver.dob.value"> </label>
                </ion-item>
                <ion-item class="item item-select item-input item-stacked-label">
                    <label><span>Marital Status</span>
                        <select name="Marital Status" ng-model="driver.maritalstatus.selected" ng-options="option for option in driver.maritalstatus.options"> </select>
                    </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Street</span>
                        <input type="{{driver.street.type}}" ng-pattern="driver.street.validate_exp" ng-model="driver.street.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>City</span>
                        <input type="{{driver.city.type}}" ng-pattern="driver.city.validate_exp" ng-model="driver.city.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>State</span>
                        <input type="{{driver.state.type}}" ng-pattern="driver.state.validate_exp" ng-model="driver.state.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Zip</span>
                        <input type="{{driver.zip.type}}" ng-pattern="driver.zip.validate_exp" ng-model="driver.zip.value"> </label>
                </ion-item>
                <ion-item class="item item-select item-input item-stacked-label">
                    <label><span>Gender</span>
                        <select name="Gender" ng-model="driver.sex.selected" ng-options="option for option in driver.sex.options"> </select>
                    </label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ng-click="submitSecondary()">Submit Driver</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>