<!--<script id="templates/intro.html" type="text/ng-template">-->
<ion-view view-title="Intro" class="has-footer background" scroll=false>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Login</h1> </ion-header-bar>
    <ion-content class="has-header">
        <div id="logo">
            <div class="logo-outer" style="margin:auto"> <img src="img/new_logo.png"></div>
        </div>
        <p style="text-align:center;color:cornflowerblue"> Insurance for the 21st Century </p>
        <div class="card">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="data.username" id="username"> </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password" id="password"> </label>
            </div>
            <div class="row">
                <div class="col col-50 col-offset-50">
                    <button class="button button-right icon icon-right ion-log-in button-calm" ng-click="login()" style="float:right">Login</button>
                </div>
            </div>
            <!--                <button class="button button-block button-calm" ui-sref="home ">Login</button>-->
        </div>
    </ion-content>
</ion-view>