<ion-nav-bar class="bar-light">
    <ion-nav-back-button> </ion-nav-back-button>
</ion-nav-bar>
<ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1> </ion-header-bar>
<!--<script id="templates/intro.html" type="text/ng-template">-->
<ion-view view-title="Intro" class="has-footer">
    <div id="logo"> <img src="img/new_logo.png" style="width:100%;text-align:center"> </div>
    <p style="text-align:center"> Insurance for the 21st Century </p>
    <div footer></div>
</ion-view>
<!--</script>-->