<ion-nav-bar class="bar-light">
    <ion-nav-back-button> </ion-nav-back-button>
</ion-nav-bar>
<ion-header-bar class="bar-positive" style="height:14vh">
    <button class="button button-clear icon left ion-navicon">Policy</button>
    <button class="button button-clear icon right ion-android-more-vertical"> </button>
    <!--        <h1 class="title" style=""></h1>--></ion-header-bar>
<!--<script id="templates/intro.html" type="text/ng-template">-->
<ion-view view-title="Intro" class="has-footer big-header">
    <ion-content>
        <ion-tabs class="tabs-positive tabs-icon-top">
            <ion-tab icon-on="ion-umbrella" icon-off="ion-umbrella"></ion-tab>
        </ion-tabs>
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-mellow">
        <!-- <div class="buttons">
    <button class="button">Left Button</button>
    </div> -->
        <!--        <h1 class="title">Title!</h1>-->
        <div class="buttons button button-block" style="text-align:center;float:right;background-color:transparent;width:100%" ng-click="submitForms()">
            <button class="button button-calm button-block ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" style="width: 100%;height: 100%;text-align: center;margin: auto;line-height: 0px;" ng-click="submitForms()" ng-model="footerText">Accept</button>
        </div>
    </ion-footer-bar>
</ion-view>