<ion-scroll class="background">
    <ion-content class="correct-footer">
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-50" style="margin:auto"> <i class="icon ion-ios-search" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:3vmin;display:inline">. . . <strong>Review Your Quote!</strong></p>
            </div>
        </div>
        <div class="card">
            <ion-list>
                <ion-item>
                    <h2>1C3CCBCG9DN598577 </h2>
                    <p>Make: <span>Toyota</span></p>
                    <p>Model: <span>Corolla</span></p>
                    <p>Year: <span>2007</span></p>
                    <!--                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>-->
                </ion-item>
                <ion-item>
                    <h2>JH2PF01186K490633 </h2>
                    <p>Make: <span>Ford</span></p>
                    <p>Model: <span>Escape</span></p>
                    <p>Year: <span>2010</span></p>
                </ion-item>
                <ion-item>
                    <h2>1FVHCYDJX8HZ98669 </h2>
                    <p>Make: <span>Ford</span></p>
                    <p>Model: <span>Mustang</span></p>
                    <p>Year: <span>2009</span></p>
                </ion-item>
                <ion-item ng-repeat="car in quote.vehicles">
                    <h2>{{car.vin}} </h2>
                    <p>Make: <span>{{car.make}}</span></p>
                    <p>Model: <span>{{car.model}}</span></p>
                    <p>Year: <span>{{car.year}}</span></p>
                </ion-item>
            </ion-list>
        </div>
        <div id="logo"> <img src="img/new_logo.png" style="max-width:100vw;text-align:center"> </div>
    </ion-content>
</ion-scroll>
<ion-footer-bar class="background" style="border: none;
    background-image: none;">
    <div class="row">
        <div class="col col-50"> </div>
        <div class="col col-50">
            <button class="button button-positive" style="width:100%;color:white;" ui-sref="{{nextState}}">Accept</button>
        </div>
    </div>
</ion-footer-bar>