<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content>
        <div class="center"> Please sign. </div>
        <div class="scroll" id="signpad-scroll">
            <div class="card" id="signpad-card">
                <div id="SketchBoard">
                    <canvas id="SketchPad"></canvas>
                    <!--                        <img src="img/signature.png"> --></div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;height:7max">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ng-click="submitForms2()">Accept</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
<!--
<div class="center">
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="Javascript:back();"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <a href="#SketchPad" data-clear='clear'>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fa fa-ban" aria-hidden="true"></i></button>
    </a>
    <a href="#SketchPad" data-download='png'>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fa fa-check" aria-hidden="true"></i></button>
    </a>
</div>
-->