<ion-header-bar class="bar-positive">
    <h1 class="title">Thanks</h1> </ion-header-bar>
<ion-content>
    <div class="card">
        <ion-item class="item item-input item-stacked-label">
            <div class="row" style="margin:auto;">
                <h3 style="margin:auto;text-align:center;"><span style="white-space:normal;text-align:center;color:cornflowerblue">Thank You!<br> For using Insurescan</span></h3> </div>
            <div class="row">
                <p style="font-size:4vmin;margin:auto"><i class="icon ion-camera" style="font-size:16vmin;margin:auto;color:#0A369D"></i></p>
            </div>
        </ion-item>
    </div>
</ion-content>
<ion-footer-bar class="background" style="border: none;
    background-image: none;">
    <div class="row">
        <div class="col col-50"> </div>
        <div class="col col-50">
            <button class="button button-positive" style="width:100%;color:white;" ng-click="clearSession()">Exit</button>
        </div>
    </div>
</ion-footer-bar>