<ion-header-bar class="bar-positive header">
    <h1 class="title">Scanner Explanation</h1>
    <button class="button button-clear icon right ion-home" style="position: absolute;right: 0px;" ui-sref="drivers"> </button>
</ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content class="has-header">
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-ios-checkmark" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . You have slected New Quote, let's get started! </p>
            </div>
        </div>
        <div class="card">
            <ion-item class="item item-input item-stacked-label">
                <div class="row" style="margin:auto;">
                    <h3 style="margin:auto;text-align:center;"><span style="white-space:normal;text-align:center;color:cornflowerblue">Select the camera<br> to scan your driver's license or vin</span></h3> </div>
                <div class="row">
                    <p style="font-size:4vmin;margin:auto"><i class="icon ion-camera" style="font-size:16vmin;margin:auto;color:#0A369D"></i></p>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item class="item item-input item-stacked-label">
                <div class="row" style="margin:auto;">
                    <h3 style="margin:auto;text-align:center;"><span style="white-space:normal;text-align:center;color:cornflowerblue">Select the upload icon to upload <br> a photo of your driver's license or vin</span></h3> </div>
                <div class="row">
                    <p style="font-size:4vmin;margin:auto"><i class="icon ion-upload" style="font-size:16vmin;margin:auto;color:#0A369D"></i></p>
                </div>
            </ion-item>
        </div>
        <div id="logo"> <img src="img/new_logo.png" style="max-width:100vw;text-align:center"> </div>
    </ion-content>
    <ion-footer-bar style="border: none;
    background-image: none;
    background-color: #ededed;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ui-sref="drivers">Next</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>