/* Empty. Add your own CSS if you like */

body select {
    width: 93vw;
}

.header {
    padding-left: 15px;
    padding-right: 15px;
}

.background {
    /*    background-color: ghostwhite;*/
    background-color: #ededed;
}

.footer-background {
    background-color: transparent;
}

inner-column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 20px solid #f00;
    background: #00f;
    margin: 10px;
}

inner-column {
    border: 10px solid red;
}

#button-accept .item-content {
    background-color: #387ef5;
    text-align: center;
    color: white;
}

#button-reject .item-content {
    background-color: #ef473a;
    text-align: center;
    color: white;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.pane .view .has-header {
    top: 44px
}

.correct-footer {
    bottom: 1vh;
}

.select-box {
    background-color: transparent;
    border: none;
}

.logo-inner {
    margin-top: 9vmax;
}

.logo-outer {
    width: 70vmin;
    margin: auto;
}

.logo {
    margin: 7vmax auto;
    width: 228px;
}

#logo {
    margin: 7vmax auto;
    width: 228px;
}


/*
 * 
 * Grid rules to get tile, creates tile like grids
 * 
 * */

#grid-row {
    width: 100%;
    height: 25vmax;
}

#grid-label {
    position: relative;
    top: 6.25vmax;
}

#grid-icon::before {
    margin: auto;
    font-size: 7vmax;
}

#grid-icon-container {
    margin: auto;
    font-size: 7vmax;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#grid-icon::after {
    font-size: 7vmax;
}

#grid-button {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px #888888;
}